*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container-app{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(90deg, #336faf, #0e2c4d);
}

